COMPOSE_PROJECT_NAME=iplocate-app

TZ=Europe/Kiev

APP_OUTER_PORT=8045
DB_OUTER_PORT=8015
DB_PORT=3306

DB_IMAGE=mariadb:10.11.6
DB_HOST=db.iplocate
DB_NAME=iplocate_db
DB_USER=iplocate
DB_PASSWORD=mvsQRS22SD
DB_ROOT_PASSWORD=ZhD3FtyXmN5tnE

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages

IP_LOOKUP_API_URL=https://www.iplocate.io/api/